{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {
	links : [{
		url : '#',
		title : 'Link 1'
	},
	{
		url : '#',
		title : 'Link 2'
	}],
	mobileLinks : [{
		url : '#',
		title : 'Mobile Link 1'
	},
	{
		url : '#',
		title : 'Mobile Link 2'
	},
	{
		url : '#',
		title : 'Mobile Link 3'
	}],
	shortcuts : [{
		url : '#menu',
		title : 'Menu'
	},
	{
		url : '#locations',
		title : 'Find Us'
	},
	{
		url : '#book',
		title : 'Book'
	},
	{
		url : '#takeaway',
		title : 'Takeaway'
	},
	{
		url : '#',
		title : 'Group Bookings'
	}],
	mobileShortcuts : [{
		url : '#menu',
		title : 'Menu'
	},
	{
		url : '#locations',
		title : 'Find Us'
	}],
	actions : [
	{
		url : '#book',
		title : 'Book'
	},
	{
		url : '#takeaway',
		title : 'Takeaway'
	},
	{
		url : '#delivery',
		title : 'Delivery'
	}],
	locations : [{
		slug : 'venue-1',
		title : 'Venue 1',
    openingHours : 'Weekdays 9—5<br />Weekends 9—3',
    address: "Adress<br />Line 2<br />Line 3",
		telephone : '01234567890',
		email : 'email@venue.com',
		bookingLink : '#',
    mapUrl : '#',
    deliveryUrl: "#",
    "menus": [
      {
        "title": "A la Carte",
        "pdf": "/assets/pdf/menu-alacarte.pdf",
        "image": "/assets/img/home/ct-03-a-la-carte.jpg"
      },
      {
        "title": "Drinks",
        "pdf": "/assets/pdf/menu-drinks.pdf",
        "image": "/assets/img/menu-drinks.jpg"
      },
      {
        "title": "Takeaway",
        "pdf": "/assets/pdf/menu-takeaway.pdf",
        "image": "/assets/img/home/ct-03-takeaway.jpg"
      }
    ]
	},
	{
		slug : 'venue-2',
		title : 'Venue 2',
    openingHours : 'Weekdays 24 Hrs<br />Weekends 9—3',
    address: "Adress<br />Line 2<br />Line 3",
		telephone : '01234567890',
		email : 'email@venue.com',
		bookingLink : '#',
    mapUrl : '#',
    deliveryUrl: "#",
    "menus": [
      {
        "title": "A la Carte",
        "pdf": "/assets/pdf/menu-alacarte.pdf",
        "image": "/assets/img/home/ct-03-a-la-carte.jpg"
      },
      {
        "title": "Drinks",
        "pdf": "/assets/pdf/menu-drinks.pdf",
        "image": "/assets/img/menu-drinks.jpg"
      },
      {
        "title": "Takeaway",
        "pdf": "/assets/pdf/menu-takeaway.pdf",
        "image": "/assets/img/home/ct-03-takeaway.jpg"
      }
    ]
	}]
} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}


{# Different types of wrapper #}
{% set wrapperModifiers = ["static","fixed"] %}



{# Render the component #}
{% macro render(props) %}
<header x-data @click.outside="$store.route.removeHash()" class="header">
    
    <div class="flex flex-row pl-[1em] sm:gap-[30px] lg:gap-[3em] justify-between w-full h-[3rem] items-center grow-0 shrink-0">

    <a class="flex items-center w-[5em] md:w-[6em] shrink-0 relative pt-[0em] -mt-[0.1em] translate-x-[0.2em]" aria-label="{{ data('site').name }} Homepage" href="/">{% render 'logo' %}</a>

    <nav class="grow">
	   
	      <ul class="u-text-shortcuts w-full grow flex flex-row gap-[2em] lg:gap-[3em] px-[4em] md:px-[2em] justify-between align-center py-[10px]">
	        {%  for link in props.shortcuts %}
	        <li class="hidden md:block px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}" data-toggle="true" data-exact="true">{{link.title}}</a></li>
	        {% endfor %}
	        {%  for link in props.mobileShortcuts %}
	        <li class="block md:hidden px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}" data-toggle="true" data-exact="true">{{link.title}}</a></li>
	        {% endfor %}
	        <li class="px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="#more" data-toggle="true">More</a></li>
	      </ul>
	 </nav>
    
    </div>

    <div @click="if ($event.target.tagName.toLowerCase() !== 'a') $event.stopPropagation()" class="relative">

    <template x-data x-if="$store.route.match('#menu|#locations|#more|#book|#takeaway|#delivery')">
        <div :class="$store.route.match('#book|#takeaway|#delivery') ? 'hidden md:block' : ''">
        {% set modalContent %}
        <!-- Template: Menus -->
        <template x-data x-if="$store.route.match('#menu')">
          <div>

            <!-- Menus Switcher -->
            {{ _('modalLocationSwitcher').render({locations:props.locations}) }}

            <!-- Menus Content -->
            <div class="relative">

              <!-- Menus Sizing -->
              <div class="md:min-w-[650px] mt-[2em] px-inset pb-[2.5em] max-h-[calc(75vh-100px)]  overflow-auto">

                <!-- Menu Tiles -->
                <div>
                {% for location in props.locations %}
                
                  <template x-if="$store.venue.modal == '{{location.slug}}' || ($store.venue.modal == '' && {{ loop.index0 }} === 0)">
                  {{ _('modalMenusTemplate').render({menus:location.menus,modifier:'small'})}}
                  </template>
                {% endfor %}
                </div>
                <!-- / Menu Tiles -->

              </div>
              <!-- / Menus Sizing -->
            </div>
            <!-- / Menus Content -->
          </div>
        </template>
        <!-- / Template: Menus -->

        <!-- Template: Locations -->
        <template x-data x-if="$store.route.match('#location')">
        <div>
       {{ _('modalLocationSwitcher').render({locations:props.locations}) }}
        <div class="relative ">
        <div class="md:min-w-[650px] mt-[2em] px-0 md:px-inset pb-[2.5em] max-h-[calc(75vh-100px)]  overflow-auto">
          
          <div class="mx-[60px]">
          {% for location in props.locations %}
            
            <template x-if="$store.venue.modal == '{{location.slug}}' || ($store.venue.modal == '' && {{ loop.index0 }} === 0)">
            <div>
            {{ _('modalContactTemplate').render(location)}}
            </div>
            </template>
          {% endfor %}
          </div>

         
        </div>
        </div>
        

        </div>
      </template>
      <!-- / Template: Locations -->

      <!-- Template: More -->
      <template x-data x-if="$store.route.match('#more')">
      <div>
        <div class="relative py-inset min-h-[50vh] flex flex-col justify-center items-center">

          <div class="md:min-w-[650px]" x-data @click="$store.route.removeHash()">
            <ul class="header-main-links u-text-hero text-center flex flex-col gap-[1em] py-[2.5em] pb-[3em] -mt-[1rem]">
        
            {%  for link in props.links %}
            <li class="px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
            {% endfor %}
            </ul>
             
          </div>
         
        </div>
      </div>
      </template>
      <!-- / Template: More -->

      <!-- Template: Book -->
            <template x-data x-if="$store.route.match('#book')">
            <div class="relative">
              <div  x-data @click="$event.stopPropagation()" class="py-[5em] relative">

                {% render 'modalBookingTemplate',{
                  render : {
                    locations:props.locations
                  },
                  inheritProps:true
                } %}
                
              </div>
            </div>
            </div>
             </template>
             <!-- / Template : Book -->


             <!-- Template: Takeaway -->
            <template x-data x-if="$store.route.match('#takeaway')">
            
          
            <div class="relative">
              <div x-data @click="$event.stopPropagation()" class="pb-[2em] relative">
      

              <div class="w-full h-full flex justify-center items-center">
              <div class="w-full shrink-0" style="--colors-accent:var(--colors-nav);--colors-relief:var(--colors-navtext);">
              {{ _('modalLocationSwitcher').render({locations:props.locations}) }}
             
             {% for location in props.locations %}
                
                <template x-if="$store.venue.modal == '{{location.slug}}' || ($store.venue.modal == '' && {{ loop.index0 }} === 0)">

                {{ _('modalTakeawayTemplate').render(location)}}

                </template>
              {% endfor %}
             
            </div>
            </div>

      
            </div>
            </div>
           
            </template>
            <!-- / Template: Takeaway -->

            <!-- Template: Delivery -->
            <template x-data x-if="$store.route.match('#delivery')">
           
          
            <div class="relative">
              <div x-data @click="$event.stopPropagation()" class="relative">
               

                <div class="w-full h-full flex justify-center items-center">
                <ul class="flex flex-col gap-[1em]">
                {% for location in props.locations %}
                  <li><a class="u-link-button-wide" href="{{ location.deliveryUrl }}" target="_blank">{{ location.title }}</a></li>
                {% endfor %}
                </ul>
                </div>

               
              </div>
             
            </div>

            </template>
            <!-- / Template: Delivery -->
      {%  endset %}

      {{ _('modal').render({content:modalContent}) }}
      </div>
     </template>

         
          
          </div>
  </header>
{% endmacro %}


{# Wrapper for different wrapper types - used ofr spec or {% render 'header' %} shortcode #}
{% macro wrapper(props) %}
<div class="header-wrapper {% if props.modifier %}header-wrapper--{{props.modifier}}{% endif %} relative">{{ props.content | safe }}</div>
{%  endmacro %}
        
