{% extends "_includes/default.njk" %}
{% import "_includes/macros.njk" as macros %}
{% import "_includes/icons.njk" as icons %}

{# MODAL #}
{% import "_includes/components/modal-locationSwitcher.njk" as modalLocationSwitcher %}
{% import "_includes/components/modal-bookingTemplate.njk" as modalBookingTemplate %}
{% import "_includes/components/modal-contactTemplate.njk" as modalContactTemplate %}
{% import "_includes/components/modal-takeawayTemplate.njk" as modalTakeawayTemplate %}
{% import "_includes/components/modal-menusTemplate.njk" as modalMenusTemplate %}
{% import "_includes/components/modal-deliveryTemplate.njk" as modalDeliveryTemplate %}
{% import "_includes/components/venueFromhash.njk" as venueFromHash %}
{% import "_includes/components/venueTheme.njk" as venueTheme %}
{% import "_includes/components/magicFrame.njk" as magicFrame %}
{% import "_includes/components/topFrame.njk" as topFrame %}
{% import "_includes/components/newsletter.njk" as newsletter %}
{% import "_includes/components/socials.njk" as socials %}
{% import "_includes/components/image.njk" as image %}
{% import "_includes/components/logo.njk" as logo %}



{# OPTIONAL STYLES #}
{% block styles %}
  <style></style>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{%  block outsidescroll %}

<div class="cursor-pointer fixed flex gap-[5px] items-center bottom-[100px] right-[30px] md:bottom-inset md:right-inset rounded-full p-[5px] px-[10px] text-[16px] bg-[white] z-[10] mt-[1em]">
<svg xmlns="http://www.w3.org/2000/svg" width="16"
height="16" viewBox="0 0 420 420" stroke="#000" fill="none">
<path stroke-width="26"
d="M209,15a195,195 0 1,0 2,0z"/>
<path stroke-width="18"
d="m210,15v390m195-195H15M59,90a260,260 0 0,0 302,0 m0,240 a260,260 0 0,0-302,0M195,20a250,250 0 0,0 0,382 m30,0 a250,250 0 0,0 0-382"/>
</svg>
<span>Việt</span>
</div>

<header x-data @click.outside="$store.route.removeHash()" class="fixed top-inset left-inset right-inset md:right-auto md:left-1/2 md:-translate-x-1/2 bg-white  shadow-lg rounded-lg shadow-md bg-nav text-navtext transition duration-[400ms] z-[99] py-[0.4em] md:py-[0.2em]">
    
    <div id="nav" class="md:flex md:flex-row md:pl-[1em] md:gap-[4em] md:items-center">
    <nav>
      <ul class="u-text-shortcuts flex flex-row gap-[2em] md:gap-[3em] px-[2.5em] md:px-[1em] justify-between md:justify-start align-center items-center py-[5px]">
        <li class="block md:hidden flex justify-center items-center"><a class="" href="/">{{icons.home()}}</a></li>
        {%  for link in linklists.shortcuts %}
        <li class="px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>


    <a class="hidden md:block relative w-[8em] pt-[0em] -mt-[0.1em] translate-x-[0.2em]" href="/">{{ logo.render() }}</a>


    <nav class="hidden md:block">
      <ul class="u-text-shortcuts flex flex-row gap-[3em] px-[4em] md:px-[2em] justify-between md:justify-center align-center py-[10px]">
        {%  for link in linklists.actions %}
        <li class="px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
    </div>

    <div class="relative" style="--colors-foreground:var(--colors-navtext);--colors-relief:var(--colors-navtext);--colors-accent:var(--colors-nav);">

    <template x-data x-if="$store.route.match('#menu|#locations|#more')">
     {{ magicFrame.render({
      listen:true
     }) }}
     </template>

          <template x-data x-if="$store.route.match('#menu')">
            <div class="pt-[3.5em] md:pt-[2.5em] pb-[2em]">
           {{ modalLocationSwitcher.render({locations:locations}) }}
            <div class="relative ">
            <div class="md:min-w-[650px] mt-[2em] px-inset pb-[2.5em] max-h-[calc(75vh-100px)]  overflow-auto">

              
              
              <div class="mx-[60px]">
              {% for location in locations %}
                
                <template x-if="$store.venue.modal == '{{location.slug}}'">
                <div>
                {{ modalMenusTemplate.render({location:location})}}
                </div>
                </template>
              {% endfor %}
              </div>

             
            </div>
            </div>
            <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>

            </div>
          </template>

          <template x-data x-if="$store.route.match('#location')">
            <div class="pt-[3.5em] md:pt-[2.5em] pb-[2em]">
           {{ modalLocationSwitcher.render({locations:locations}) }}
            <div class="relative ">
            <div class="md:min-w-[650px] mt-[2em] px-0 md:px-inset pb-[2.5em] max-h-[calc(75vh-100px)]  overflow-auto">

              
              
              <div class="mx-[60px]">
              {% for location in locations %}
                
                <template x-if="$store.venue.modal == '{{location.slug}}'">
                <div>
                {{ modalContactTemplate.render({location:location})}}
                </div>
                </template>
              {% endfor %}
              </div>

             
            </div>
            </div>
            <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>

            </div>
          </template>

          {# DESKTOP BOOK DRAWER #}
          <template x-data x-if="$store.route.match('#book')">
            <div class="hidden md:block">
          
            <div class="relative">
              <div  x-data @click="$event.stopPropagation()" class="py-[5em] relative">
                <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[25px] left-1/2 -translate-x-1/2">Book</div>
          
                <div class="w-full h-full flex justify-center items-center">
                  <ul class="flex flex-col gap-[1em]">
                  {% for location in locations %}
                    <li><a class="u-link-button-wide" href="{{ location.bookingLink }}" target="_blank">{{ location.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>

                {{ magicFrame.render({eyebrow:true}) }}
              </div>
            </div>
            <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>

            </div>
          </template>

          {# DESKTOP TAKEAWAY DRAWER #}
          <template x-data x-if="$store.route.match('#takeaway')">
            <div class="hidden md:block">
          
            <div class="relative">
              <div x-data @click="$event.stopPropagation()" class="py-[5em] relative">
      <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[25px] left-1/2 -translate-x-1/2">Takeaway</div>

      <div class="w-full h-full flex justify-center items-center">
      <div class="w-full shrink-0" style="--colors-accent:var(--colors-nav);--colors-relief:var(--colors-navtext);">
              {{ modalLocationSwitcher.render({locations:locations}) }}
             
             {% for location in locations %}
                
                <template x-if="$store.venue.modal == '{{location.slug}}'">
                <div class="flex flex-col gap-gutter px-[50px]">
                <p class="py-[1em] text-center mx-auto">{{ location.locationTelephone }}<br />
                <a class="u-link-body" href="mailto:{{ location.locationEmail }}">{{ location.locationEmail }}</a></p>
                <ul class="w-full flex flex-col gap-[1em] justify-center text-center">
                <li><a href="tel:{{ location.locationTelephone }}" class="u-link-button-wide">Call {{location.title}}</a></li>
                </ul>
                </div>
                </template>
              {% endfor %}
             
            </div>
            </div>

      {{ magicFrame.render({eyebrow:true}) }}
    </div>
             <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>
            </div>
          </template>


          {# DESKTOP DELIVERY DRAWER #}
          <template x-data x-if="$store.route.match('#delivery')">
            <div class="hidden md:block">
          
            <div class="relative">
              <div x-data @click="$event.stopPropagation()" class="py-[5em] relative">
      <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[25px] left-1/2 -translate-x-1/2">Delivery</div>

      <div class="w-full h-full flex justify-center items-center">
      <ul class="flex flex-col gap-[1em]">
      {% for location in locations %}
        <li><a class="u-link-button-wide" href="{{ location.deliveryUrl }}" target="_blank">{{ location.title }}</a></li>
      {% endfor %}
      </ul>
      </div>

      {{ magicFrame.render({eyebrow:true}) }}
    </div>
             <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>
            </div>
          </template>

         

          <div x-show="$store.route.match('#more')">
            <div class="relative py-inset min-h-[50vh] flex flex-col justify-center items-center">

            <div class="md:min-w-[650px]" x-data @click="$store.route.removeHash()">
              <ul class="u-text-hero text-center flex flex-col gap-[1em] py-[2.5em] pb-[3em]">
          
              {%  for link in linklists.main %}
              <li class="px-[0.25em] pt-[3px] -ml-[0.5em] shrink-0"><a class="inline-block " x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
              {% endfor %}
              </ul>
               
            </div>

             <div x-data class="u-link-close absolute -bottom-[0.3em] left-0 right-0" @click="$store.route.removeHash()">Close</div>
             
            </div>
          </div>

          </div>
  </header>

  <div x-data class="transition fixed bottom-0 bg-frame text-frametext z-[100] left-0 md:left-1/2 md:-translate-x-1/2 right-0 md:right-auto  md:rounded-t-lg md:px-inset md:hidden" :class="$store.route.match('#book|#takeaway|delivery') ? 'border-t-2 border-frametext' : 'border-t-2 border-transparent'">
  <nav >

      <ul class="flex flex-row gap-[3em] justify-center py-[0.5em] px-[1em]">
        
        {%  for link in linklists.actions %}
        <li class="shrink-0"><a class="u-link-icon" href="{{ link.url }}">{{ icons.render({handle:link.url}) }} {{link.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div style="--colors-foreground:var(--colors-frametext);" x-data :class="$store.route.match('#book') ? '!translate-y-0' : 'translate-y-[105%]'" class="block md:hidden translate-y-[105%] transition duration-[0.6s] fixed bottom-0 pb-[7rem] md:pb-[2.5rem]  z-[99] left-0 md:left-1/2 md:-translate-x-1/2 right-0 md:right-auto bg-frame text-frametext md:min-w-[600px] md:rounded-t-lg">
    
    <div  x-data @click="$event.stopPropagation()" class="aspect-[5/3.5] relative">
      <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[0.8rem] left-1/2 -translate-x-1/2">Book</div>
      
<div class="w-full h-full flex justify-center items-center">
      <ul class="flex flex-col gap-[1em]">
      {% for location in locations %}
        <li><a class="u-link-button-wide" href="{{ location.bookingLink }}" target="_blank">{{ location.title }}</a></li>
      {% endfor %}
      </ul>
      </div>

      {{ magicFrame.render({eyebrow:true}) }}
    </div>

  </div>

  <div style="--colors-foreground:var(--colors-frametext);" x-data :class="$store.route.match('#takeaway') ? '!translate-y-0' : 'translate-y-[105%]'" class="block md:hidden translate-y-[105%] transition duration-[0.6s] fixed bottom-0 pb-[7rem] md:pb-[2.5rem]  z-[99] left-0 md:left-1/2 md:-translate-x-1/2 right-0 md:right-auto bg-frame text-frametext md:min-w-[600px] md:rounded-t-lg">
    
    <div x-data @click="$event.stopPropagation()" class="aspect-[5/4] relative">
      <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[0.8rem] left-1/2 -translate-x-1/2">Takeaway</div>

      <div class="w-full h-full flex justify-center items-center">
      <div class="w-full shrink-0" style="--colors-accent:var(--colors-frame);--colors-relief:var(--colors-frametext);">
              {{ modalLocationSwitcher.render({locations:locations}) }}
             
             {% for location in locations %}
                
                <template x-if="$store.venue.modal == '{{location.slug}}'">
                <div class="flex flex-col gap-gutter px-[50px]">
                <p class="py-[1em] text-center">{{ location.locationTelephone }}<br />
                <a href="mailto:{{ location.locationEmail }}">{{ location.locationEmail }}</a></p>
                <ul class="w-full flex flex-col gap-[1em] justify-center text-center">
                <li><a href="tel:{{ location.locationTelephone }}" class="u-link-button-wide">Call {{location.title}}</a></li>
                </ul>
                </div>
                </template>
              {% endfor %}
             
            </div>
            </div>

      {{ magicFrame.render({eyebrow:true}) }}
    </div>

  </div>

  <div style="--colors-foreground:var(--colors-frametext);" x-data :class="$store.route.match('#delivery') ? '!translate-y-0' : 'translate-y-[105%]'" class="block md:hidden translate-y-[105%] transition duration-[0.6s] fixed bottom-0 pb-[7rem] md:pb-[2.5rem] z-[99] left-0 md:left-1/2 md:-translate-x-1/2 right-0 md:right-auto bg-frame text-frametext md:min-w-[600px] md:rounded-t-lg">
    
    <div  x-data @click="$event.stopPropagation()" class="aspect-[5/3.5] relative">
      <div class="u-text-eyebrow text-center absolute top-[1.8rem] md:top-[0.8rem] left-1/2 -translate-x-1/2">Delivery</div>

      <div class="w-full h-full flex justify-center items-center">
      <ul class="flex flex-col gap-[1em]">
      {% for location in locations %}
        <li><a class="u-link-button-wide" href="{{ location.deliveryUrl }}" target="_blank">{{ location.title }}</a></li>
      {% endfor %}
      </ul>
      </div>
      {{ magicFrame.render({eyebrow:true}) }}
    </div>

  </div>
{% endblock %}

{%  block opener %}

{% endblock %}

{# MAIN CONTENT #}
{% block content %}


  

  <div id="swup" class="transition-fade">
  <main>
  {% block main %}
       

  {# PAGE CONTENT VARIES #}
        
       
  {% endblock %}
  </main>
  <div class="bg-background text-foreground">
  <div class="text-center p-inset">
    <ul class="flex flex-col md:flex-row gap-inset justify-center p-inset">
        {%  for link in linklists.main %}
        <li><a class="inline-block u-text-eyebrow" x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
     </div>

     <div class="footer-texture aspect-[4/1] flex items-center">
     <div class="wrapper">
      <div class="relative flex flex-col gap-[2em] md:gap-gutter py-[4em] md:py-inset md:pb-[3em]" style="--colors-foreground:currentColor">
    <div class="relative aspect-[15/1]">
      <div class="hidden md:block">{{ topFrame.render() }}</div>
      <div class="relative md:absolute md:top-0 md:left-0 md:right-0 u-text-hero text-center pt-[0em]">
        Stay In Touch
      </div>
    </div>
    <div class="w-[80%] mx-auto md:w-full text-center">
      {{ newsletter.render({
        text:''
      }) }}
    </div>
    
  </div>
  </div>
  </div>

  <footer class="bg-footer text-footertext">

    <div class="text-center p-inset flex flex-col items-center justify-center">
    <h3 class="u-text-body">Visit our sister sites</h3>
   
    <ul class="flex flex-row gap-gutter justify-center items-center p-gutter w-full">
        {%  for site in theme.sisterSites %}
        <li class="w-[35%] md:w-[25%] aspect-[2/1] relative flex items-center"><a class="transition duration-[400ms] hover:scale-[1.1] hover:rotate-[-5deg] absolute top-[10%] left-[10%] right-[10%] bottom-[10%] flex items-center" href="{{ site.url }}">{{ icons.render({
          handle: site.icon
        }) }}</a></li>
        {% endfor %}
      </ul>
     </div>
    
    <div class="border-b-2 border-current mx-inset"></div>
    <div class="py-[2em] md:p-inset flex flex-col justify-center items-center md:flex-row md:justify-between gap-[2em] md:gap-gutter pb-[100px] md:pb-[4em]">
       <ul class="flex flex-row gap-[1em] md:gap-gutter order-[1] md:order-[0]">
        {%  for link in linklists.legal %}
        <li><a class="inline-block" x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>

      <div class="text-center order-[0] md:order-[1]">
      {{ socials.render({
        text:''
      }) }}
    </div>

      <div class="order-[2] md:order-[2]">© 2023 <a href="http://eatdrinkvietnam.co.uk">eatdrinkvietnam.co.uk</a></div>
    </div>
  </footer>
  </div>



{% endblock %}