{% extends "pages/_layout.njk" %}
{% import "_includes/macros.njk" as macros with context %}

{# COMPONENTS #}
{% import "_includes/components/pageData.njk" as pageData %}
{% import "_includes/components/modal-contactTemplate.njk" as modalContactTemplate %}


{# MAIN CONTENT #}
{%  set p = page %}
{%  set l = locations %}
{% block main %}

<div class="p-inset text-center pt-[150px]">
    <div class="content">
    <h1>Contact</h1>
    </div>
  </div>
  <hr />


    <div x-data x-show="$store.venue.active != ''">
    {{ macros.pageSwitcher(p,l) }}
    </div>
  

    <template x-data x-if="$store.venue.active == ''">
    	<div class="w-[80%] max-w-[600px] mx-auto">
    		<div class="content text-center p-inset">
				<h2>Please select a venue...</h2>
			</div>
    		<ul class="flex flex-col gap-gutter ">
    		{% for location in locations %}
    		<li>
    			<a href="#{{location.slug}}" class="block cursor-pointer py-[0.4em] px-gutter  bg-[#cccccc] aspect-[4/2] flex justify-center items-center" >{{ location.title }}</a>
    		</li>
			{% endfor %}
  			</ul>
    	</div>
    </template>

    {% for location in locations %}
    <template x-data x-if="$store.venue.active == '{{location.slug}}'">
    <div class="w-[80%] max-w-[600px] mx-auto">
    {{ modalContactTemplate.render({location:location}) }}
    </div>
    </template>
	{%  endfor %}

{% endblock %}
  
