{% extends "pages/_layout.njk" %}
{% import "_includes/macros.njk" as macros with context %}
{% import "_includes/components/enquiryForm.njk" as form %}
{% import "_includes/components/topFrame.njk" as topFrame %}

{# COMPONENTS #}
{% import "_includes/components/pageData.njk" as pageData %}

{# MAIN CONTENT #}
{%  set p = page %}
{%  set l = locations %}


{% block main %}

<div x-data x-effect="$store.venue.setDefault()"></div>

<div class="p-inset text-center  pt-[150px]">
    <div class="content">
        <h1>Groups & Parties</h1>
    </div>

    <div class="relative pt-[1em]">
 
    {{ form.render({
        action:'https://formspree.io/f/xaygkndq',
        fields: [
            form.group({
                fields : [
                    form.field({
                        type:'text',
                        name : 'Name',
                        placeholder:'Your name'
                    })
                    
                ]
            }),
            form.group({
                type:'set',
                title:'How can we reach you?',
                fields : [
                   
                    form.field({
                        type:'text',
                        name : 'Email',
                        placeholder:'Email'
                    }),
                    form.field({
                        type:'text',
                        name : 'Telephone',
                        placeholder:'Telephone'
                    })
                ]
            }),
            form.group({
                type:'set',
                title:'Tell us about your event...',
                fields : [
                    form.field({
                        type:'text',
                        name : 'Party_Size',
                        placeholder:'Party Size'
                    }),
                    form.field({
                        type:'text',
                        name : 'Event_Date',
                        placeholder:'Event Date'
                    }),
                    form.field({
                        type:'text',
                        name : 'Preferred_Time',
                        placeholder:'Preferred Time'
                    })
                ]
            }),
            form.group({
                fields : [
                    form.field({
                        type:'textarea',
                        name : 'Special_Requests',
                        placeholder:'Special requests...'
                    })
                ]
            }),
            form.group({
                title: "How did you find us?",
                fields : [
                    form.field({
                        type:'radio',
                        name:'Found_By',
                        specify:true,
                        options : [
                            {
                                id:'found_google',
                                value:'Google',
                                label:'Google'
                            },
                            {
                                id:'found_recommendation',
                                value:'Recommendation',
                                label:'Recommendation'
                            },
                            {
                                id:'found_been',
                                value:'Been Before',
                                label:'Have been to the restaurant before'
                            },
                            {
                                id:'found_other',
                                value:'Other',
                                label:'Other...'
                            }
                        ]
                        
                    })
                ]
            }),
            form.group({
                title: "Which venue did you want to book?",
                fields : [
                    form.field({
                        type:'select',
                        name:'Venue',
                        specify:true,
                        options : [
                            {
                                id:'venue_soho',
                                value:'Soho',
                                label:'Soho'
                            },
                            {
                                id:'venue_hoxton',
                                value:'Hoxton',
                                label:'Hoxton'
                            }
                        ]
                        
                    })
                ]
            })
        ]
    }) }}
    </div>

</div>



{% endblock %}
  
