{% extends "pages/_layout.njk" %}
{% import "_includes/macros.njk" as macros with context %}

{# COMPONENTS #}
{% import "_includes/components/pageData.njk" as pageData %}

{# MAIN CONTENT #}
{% block main %}

<div x-data x-effect="$store.venue.setDefault()"></div>
<div class="p-inset text-center pt-[150px]">
    <div class="content">
    <h1>Our Story</h1>
    <p>Cay Tre Shoreditch was one of the first Vietnamese restaurants in London, and the brainchild of Hieu Trung Bui. Hieu moved from Saigon to London over 20 years ago and was frustrated with the lack of good quality, authentic Vietnamese cuisine so he opened his first "phở" restaurant in Hoxton, with the mission to modernise the reputation of Vietnamese food in the UK. Hieu now also runs the Kêu Banh Mi Deli and Viet Grill among his Vietnamese Kitchen Restaurant family.</p>

    <img src="/assets/img/02.jpg">




<p>Cay Tre has stood the test of time and still serves some of the best Vietnamese food in London, offering great quality, authentic Vietnamese dishes in Hoxton and Soho, as well as takeaway & delivery.</p>

<p>From our authentic hand rolled fresh summer rolls and ‘gỏi’ salad to our curries inspired by the famous Saigon Cholon Mosque in Vietnam, our menu showcases a variety of dishes from across Vietnam. Yet, our popular Pho is still centre stage. We start with our broth, which we simmer for 24 hours before adding a variety of fresh ingredients including seafood, bbq pork, beef, vegetables and red chilli.</p>

<p>Following the success of Cay Tre Shoreditch, we headed west and set up our second site in lively Soho’s Dean Street. The buzz of Soho was the perfect fit to match the energy of the streets of Hanoi and Saigon. Our Cay Tre Soho restaurant showcases classic Vietnamese cooking with all the flair and style of London’s West end.</p>

    </div>
  </div>


{% endblock %}
  
