
@layer utilities {
    :root {
        --imageWithText-light-bg: var(--theme-palette-light-bg);
        --imageWithText-light-fg: var(--theme-palette-light-fg);
        --imageWithText-light-text: var(--theme-palette-light-text);

        --imageWithText-alt-bg: var(--theme-palette-alt-bg);
        --imageWithText-alt-fg: var(--theme-palette-alt-fg);
        --imageWithText-alt-text: var(--theme-palette-alt-text);

        --imageWithText-dark-bg: var(--theme-palette-dark-bg);
        --imageWithText-dark-fg: var(--theme-palette-dark-fg);
        --imageWithText-dark-text: var(--theme-palette-dark-text);
    }
}

@layer components {

    
    .imageWithText-wrapper{
       
        .imageWithText{
        	 @apply u-layout-wrapper py-[5vh];
        }

        .content p{
    		color: var(--theme-text);
    	}
    }

    .imageWithText-wrapper.imageWithText-wrapper--alt {

    	background: var(--imageWithText-alt-bg);
    	color: var(--imageWithText-alt-fg);

    	.content p{
    		color: var(--imageWithText-alt-text);
    	}

    
	}

	.imageWithText-wrapper.imageWithText-wrapper--dark {

    	background: var(--imageWithText-dark-bg);
    	color: var(--imageWithText-dark-fg);

    	.content p{
    		color: var(--imageWithText-dark-text);
    	}
	}

	.imageWithText-wrapper.imageWithText-wrapper--light {

    	background: var(--imageWithText-light-bg);
    	color: var(--imageWithText-light-fg);

    	.content p{
    		color: var(--imageWithText-light-text);
    	}
	}

    .imageWithText{
    	@apply flex flex-col md:flex-row;
    }

	.imageWithText-body {
		p {
			@apply pb-[1em];
		}
	}
	.imageWithText.imageWithText--imageLeft {
		& > *:nth-child(1) {
			order: 2;
		}

		& > *:nth-child(2) {
			order: 1;
		}
	}

	.imageWithText.imageWithText--imageRight {
		& > *:nth-child(1) {
			order: 1;
		}

		& > *:nth-child(2) {
			order: 2;
		}
	}
	
}
