{% import "_includes/icons.njk" as icons %}

{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {
	title: 'Visit our sister sites',
	logos : data('site').partners
} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}

{% set wrapperModifiers = ["default","dark"] %}


{# Render the component #}
{% macro render(props) %}
<div class="logos {% if props.modifier %}logos--{{ props.modifier }}{% endif %}">
	<div class="text-center p-inset flex flex-col items-center justify-center">
    <h3 class="u-text-body">{{props.title}}</h3>
   
    <ul class="flex flex-row gap-gutter justify-center items-center p-gutter w-full">
        {%  for logo in props.logos %}
        <li class="w-[35%] md:w-[25%] aspect-[2/1] relative flex items-center"><a class="transition duration-[400ms] hover:scale-[1.1] hover:rotate-[-5deg] absolute top-[10%] left-[10%] right-[10%] bottom-[10%] flex items-center" href="{{ logo.url }}">{{ logo.icon | safe }}</a></li>
        {% endfor %}
      </ul>
     </div>
</div>
{% endmacro %}

{% macro wrapper(props) %}
<div class="logos-wrapper {% if props.modifier %}logos-wrapper--{{props.modifier}}{% endif %} relative">{{ props.content | safe }}</div>
{%  endmacro %}


