{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["1","2"] %}

{% set wrapperModifiers = ["default","alt"] %}



{# Render the component #}
{% macro render(props) %}
<div class="headingFrame {% if props.modifier %}headingFrame--{{ props.modifier }}{% endif %}" x-data="watchSize">
	
	{% if props.modifier == '1' %}
   	<svg :width="width" :height="height" x-data :viewBox="`0 0 ${width} ${height}`" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path x-data :d="`M34 2L34 ${height}`" stroke="currentColor"  stroke-width="2.5" stroke-linecap="round"/>
		<path x-data :d="`M${width * 0.35} 17L20 17`" stroke="currentColor"  stroke-width="2.5" stroke-linecap="round"/>
		<path x-data :d="`M${width - 34} 2L${width - 34} ${height}`"  stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
		<path x-data :d="`M${width * 0.65} 17L${width - 20} 17`" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
	</svg>
	{%  endif %}

	{#  Extra detail on modifier 2 #}
	{% if props.modifier == '2' %}

		<svg :width="width" :height="height" x-data :viewBox="`0 0 ${width} ${height}`" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path x-data :d="`M${width * 0.35} 17L20 17`" stroke="currentColor"  stroke-width="2.5" stroke-linecap="round"/>
			<path x-data :d="`M${width * 0.65} 17L${width - 20} 17`" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
		</svg>

		<div class="absolute -top-[20px] left-gutter">
	      	<svg width="133" height="133" viewBox="0 0 133 133" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 2L19 82" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
				<path d="M35 2L35 131" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
				{#<path d="M2 38L131 38" stroke="var(--colors-foreground)" stroke-width="2.5" stroke-linecap="round"/>#}
				<path d="M82 21L2 21" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
			</svg>
		</div>

		    <div class="absolute -top-[20px] right-gutter">
		      <svg width="133" height="133" viewBox="0 0 133 133" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M114 2L114 82" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
				<path d="M98 2L98 131" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
				{#<path d="M131 38L2 38" stroke="var(--colors-foreground)" stroke-width="2.5" stroke-linecap="round"/>#}
				<path d="M51 21L131 21" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
			</svg>
		</div>
	{% endif %}

</div>
{% endmacro %}


{# Optional default wrapper for this component - used for spec sheet #}
{% macro wrapper(props) %}
<div class="headingFrame-wrapper {% if props.modifier %} headingFrame-wrapper--{{props.modifier}} {% else %} w-full relative {% endif %} h-[100px] ">{{ props.content | safe }}</div>
{%  endmacro %}