@font-face {
	font-family: 'Reckless';
	src: url('/assets/fonts/reckless/Reckless-Light.woff2') format('woff2'),
		url('/assets/fonts/reckless/Reckless-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
