
@layer utilities {
     :root {
       	--masthead-default-bg: transparent;
       	--masthead-default-fg: var(--theme-masthead-logo-fg);
       	--masthead-default-text: theme('colors.light');

        /* We can change this property for different modifiers to make the mosthead adapt to different scenarios */
        --masthead-space-reduce: 0px;

		--masthead-default-height: calc(100vh - var(--theme-frame-size) - var(--masthead-space-reduce));
       	--masthead-touch-height: calc(var(--initialViewportHeight) - var(--theme-frame-size) - var(--masthead-space-reduce));

       	--masthead-logo-scale: calc((310/1100) * 100%);
       	--masthead-logo-min: 195px;
       	--masthead-logo-max: 600px;
    }
}

@layer components {

    
    .masthead {
        @apply w-full relative;

        height: var(--masthead-touch-height);

        @media screen('sm'){
        	height: var(--masthead-default-height);
        }

        background: var(--masthead-default-bg);
        color: var(--masthead-default-fg);

        .masthead-title{
        	color: var(--masthead-default-text);
        }
    }

    .masthead-media{
    	@apply u-layout-fluid z-[0] opacity-90;
    }

    .masthead-content{
    	@apply u-layout-fluid z-[1] flex items-center justify-center;
    }

    .masthead-logo {
		width: clamp(var(--masthead-logo-min),var(--masthead-logo-scale),var(--masthead-logo-max));
	}	

	.masthead-title {
		@apply u-layout-wrapper u-text-max text-center;
	}

    .masthead-wrapper.masthead-wrapper--withTicker{
        --masthead-space-reduce: var(--ticker-height);
        --masthead-default-height: calc(100vh - var(--theme-frame-size) - var(--masthead-space-reduce));
        --masthead-touch-height: calc(var(--initialViewportHeight) - var(--theme-frame-size) - var(--masthead-space-reduce));
    }

	
}
