{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {content:'<h1>Lorem ipsum dolor sit amet</h1><p>Lorem ipsum dolor sit amet</p>'} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}

{# Render the component #}
{% macro render(props) %}
<div class="content">{{ props.content | safe }}</div>
{% endmacro %}
