
@layer utilities {
    :root {
    }
}

@layer components {
    .content {

        @apply text-center;

        p, ul, blockquote {
            @apply mx-auto;
            max-width: 32em;
        }

        h1,h2 {
          @apply u-text-hero pb-[1em];
          color: var(--theme-fg);
        }
        
        p {
          @apply pb-[2em];
          color: var(--theme-text);
        }

        h3,
        h4 {
           @apply u-text-subheading;
          padding-bottom: 0.5em;
          color: var(--theme-fg);
        }

        h5,
        h6 {
           @apply u-text-eyebrow;
          padding-bottom: 0.5em;
          color: var(--theme-fg);
        }

        ul {
          text-align: left;
          padding-left: 1em;
          padding-bottom: 2em;
          color: var(--theme-text);

          li {
            list-style: disc;
            padding-bottom: 0.5em;
          }
        }

        img {
          @apply mx-auto my-inset;
        }
      }

    .content.content--default {
		
	}

	
}
