{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {

	svg : data('site').logo

} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}



{# Render the component #}
{% macro render(props) %}
<div class="logo {% if props.modifier %}logo--{{ props.modifier }}{% endif %}">
	
	{%  set logo = defaultProps.svg %}
	{%  if props.svg %}{%  set logo = defaultProps.svg %}{%  endif %}

	{{  logo | safe }}

</div>
{% endmacro %}


