{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {
	images: ['/assets/img/placeholder.jpg','/assets/img/placeholder-02.jpg']
} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}

{# Render the component #}
{% macro render(props) %}
<div x-data="keenslider" class="carousel keen-slider--off absolute top-0 left-0 w-full h-full">
    {% for i in props.images %}
      <div class="fader__slide keen-slider__slide">
        {% render 'image',{
          render:{
            src : i,
            fit:'cover'
          }
       } %}
      </div>
    {%  endfor %}
</div>
{% endmacro %}

{# Optional default wrapper for this component - used for spec sheet #}
{% macro wrapper(props) %}
<div class="aspect-[16/9] relative">{{ props.content | safe }}</div>
{%  endmacro %}
