{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ['default'] %}

{# Render the component #}
{% macro render(props) %}
<div class="carousel" x-data="carousel">[[ carousel ]]</div>
{% endmacro %}
