
@layer utilities {
    :root {
        --magicFrame-alt-bg: var(--theme-palette-alt-bg);
        --magicFrame-alt-fg: var(--theme-palette-alt-fg);
    }
}


.magicFrame {

    
    
}

.magicFrame.magicFrame--default {
	
}

.magicFrame-wrapper--alt{
    background: var(--magicFrame-alt-bg);
    color: var(--magicFrame-alt-fg);
}


