{% extends "pages/_layout.njk" %}
{% import "_includes/macros.njk" as macros %}

{# COMPONENTS #}
{% import "_includes/components/pageData.njk" as pageData %}

{%  set pageLocation = {} %}
	{% for location in locations %}
  	{% if location.slug == '01' %}{% set pageLocation = location %}{%  endif %}
  {% endfor %}

{%  block opener %}
	
{% endblock %}

{# SUBPAGE CONTENT #}
{% block main %}
	
  
  {# PAGE DATA #}
  {{ pageData.render({
    title : pageLocation.title,
    url : page.url
  }) }}


  <div class="h-[100vh] flex items-center justify-center bg-black text-light"><div class="content"><h1>{{ pageLocation.title }}</h1></div></div>

  <style type="text/css">
  	:root{
  		--colors-accent:{{pageLocation.theme.accent}};
  	}
  </style>

  <div class="p-inset text-center">
  	<div class="content">
  	<h1>Groups & Parties</h1>
  	<a href="/pages/groups-and-parties/">More</a>
  	</div>
  </div>
  <div class="p-inset text-center">
  	<div class="content">
  	<h1>Find Us</h1>
  	<a href="/pages/contact/">More</a>
  	</div>
  </div>




 
{% endblock %}
  
