{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {
	links : data('linklists').actions,
	locations : data('locations') | map({
		slug : '{{ slug }}',
		title : '{{ title }}',
		bookingLink : '{{ bookingLink }}',
		deliveryUrl : '{{ deliveryUrl }}',
		address:'{{ locationAddress | safe }}',
		mapUrl:'{{ locationMapUrl}}',
		email: '{{ locationEmail }}',
		telephone:'{{ locationTelephone }}',
		openingHours : '{{ locationOpening | safe }}',
		menus: '{{ menus | json | safe }}'								
	},{
		jsonKeys : ['menus']
	})
} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}


{# Render the component #}
{% macro render(props) %}

	{% render 'actionBar',{
        render : props,
        wrapper:{
            modifier:'mobile'
        }
    } %}
    	
{% endmacro %}


