{% extends "src/theme/inc/theme.njk" %}

{#  This is a simplified layout, used for the spec - include any dependencies like google fonts etc needed #}

{% block head %}
    {#  <head></head> #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/gfx/icon.png" />
{% endblock %}
