@layer utilities {
	.u-link-button {
		@apply transition u-text-allcaps inline-block py-[0.5em] px-gutter rounded-full uppercase;
		font-weight: bold;
		min-width: 8em;
		text-align: center;
		border: 2px solid;
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
		}
	}

	.u-link-button-alt {
		@apply u-link-button text-accent;

		border-color: var(--colors-relief);
	}

	.u-link-button-wide {
		@apply u-link-button;
		min-width: 12em;
	}

	.u-link-body {
		@apply transition duration-500;
		border-bottom: 0.08em solid;

		&:hover {
			border-color: transparent;
		}
	}

	.u-link-close {
		@apply font-display u-text-shortcuts p-[0.5em] text-center mt-gutter mx-inset;

		cursor: pointer;
	}

	.u-link-icon {
		@apply u-text-allcaps  flex flex-row gap-[0.7em] md:gap-[0.5em]  py-[1.2em] md:py-0;
		font-size: 1rem;
		font-weight: bold;

		svg {
			@apply w-[1.2em] h-[auto] transition duration-[300ms];
			transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		}

		&:hover {
			svg {
				@apply scale-[1.1] rotate-[-10deg] -translate-y-[0.2em];
			}
		}
	}
}
