@layer utilities {
  /*
  
    Text

    */
  .u-text-spec {
    @apply text-[12px] px-inset pt-inset uppercase;
  }

  .u-text-body {
    @apply font-sans;
    font-size: calc(14px);
    @media screen(md) {
      font-size: 18px;
    }

    @media screen(xl) {
      font-size: 20px;
    }

    letter-spacing: 0.02em;
    line-height: 130%;
  }

  .u-text-bodyHeading {
    @apply font-display;
    font-weight: 700;
    font-size: calc(14px);
    @media screen(md) {
      font-size: 18px;
    }

    @media screen(xl) {
      font-size: 20px;
    }

    letter-spacing: 0.02em;
    line-height: 130%;
  }

  .u-text-allcaps {
    @apply text-[0.9rem] md:text-[0.7rem] uppercase;
    letter-spacing: 0.03em;
  }

  .u-text-hero {
    @apply font-display uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;

    @media screen(md) {
      font-size: calc(5vw * 0.4);
      font-size: 25px;
    }

    @media screen(xl) {
      font-size: 30px;
    }

    letter-spacing: -0.02em;
  }

  .u-text-max {
    @apply font-display uppercase;
    font-weight: 700;
    font-size: clamp(25px,7vw,60px);
    line-height: 100%;

   

    letter-spacing: -0.02em;
  }

  .u-text-subheading {
    @apply font-display uppercase;
    font-weight: 700!important;
    font-size: 14px;
    line-height: 120%;

    @media screen(md) {
      font-size: 16px;
    }

    @media screen(xl) {
      font-size: 18px;
    }

    
  }

  .u-text-nav {
    @apply font-display uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;

    @media screen(md) {
      font-size: calc(5vw * 0.4);
    }

    @media screen(xl) {
      font-size: 30px;
    }

    letter-spacing: -0.02em;
  }

  .u-text-eyebrow {
    @apply u-text-body;
    font-size: 0.85rem;
    @apply font-display uppercase;
    font-weight: 700;
    line-height: 100%;

    letter-spacing: 0.05em;
  }

  .u-text-shortcuts {
    @apply uppercase font-display text-[0.8rem] md:text-[0.6rem];
     font-weight: 700;
    letter-spacing: 0.03em;
  }
}
