{% extends "src/theme/_layout.njk" %}

{%  block page %}

	{% render 'masthead',{
		inheritProps:true,
		render : {
			modifier:'logo',
			hideLogo:entry.content.hide_masthead_logo,
			image:entry.content.masthead_image
		},
		wrapper : {
			modifier : 'withTicker'
		}
	} %}

	{% render 'ticker',{
		inheritProps:true,
		render : {
			content:entry.content.ticker_text
		}
	} %}
	
	{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [

								'imageWithText' | render(
									{
										condition : entry.content.show_teaser_1,
										inheritProps:true,
										render : {
											modifier : 'imageRight',
											preHeading : entry.content.teaser_1_eyebrow,
											heading : entry.content.teaser_1_title,
											text:entry.content.teaser_1_text,
											image : entry.content.teaser_1_image,
											link1Url:entry.content.teaser_1_url,
											link1Text:entry.content.teaser_1_cta,
											link2Url:false
										}
									}
								),

								'headingFrame' | render(
									{
										inheritProps:true,
										render : {
											modifier:'1',
											title:'Menus'
										}
									}
								),

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:entry.content.menus_intro
										}
									}
								),

								'spacer' | render,

								'tabSwitcher' | render(
									{
										inheritProps:true,
										render : {
											tabs : locations | map({
												title : '{{ title }}',
												content : "{{ 'stack' | render(
													{
														render:{
															items:[
																'modalMenusTemplate' | render({
																	render:{
																		menus:menus
																	}
																}),
																'nav' | render({
																	render : {
																		responsive:true,
																		modifier:'buttons',
																		links : [
																			{
																				text : 'Book A Table',
																				url : ifelse(locations | length,{condition:'<',val:2,then:bookingLink,else:'#book'}),
																				newWindow:ifelse(locations | length,{condition:'<',val:2,then:true,else:false})
																			},
																			{
																				text : 'Order Delivery',
																				url : deliveryUrl,
																				newWindow:true
																			},
																			{
																				text : 'Order Takeaway',
																				url : '#takeaway'
																			}
																		]
																	}
																})
															]
														}
													}
												) | safe }}"
											})
										}
									}
								),

								'spacer' | render

							] | join('')
						}

					})

				] | join('')
			}

		}) | safe }}

		{{ [
			'frame' | render({
				render : {
					modifier : 'spacer'
				}
			}),

			'alternatingTeasers' | render(
				{
					condition : (entry.content.alternating_teasers and entry.content.alternating_teasers | length),
					inheritProps:true,
					render : {
						teasers : entry.content.alternating_teasers
					},
					wrapper : {
						modifier : 'alt'
					}
				}
			),

			'media' | render(
					{
						inheritProps:true,
						render : {
							image : entry.content.texture_media_image,
							texture : entry.content.texture_media_texture,
							illustration:false,
							modifier:'inset'
						}
					}
				),

			

			'imageWithText' | render(
				{
					condition : entry.content.show_teaser_2,
					inheritProps:true,
					render : {
						modifier : 'imageLeft',
						preHeading : entry.content.teaser_2_eyebrow,
						heading : entry.content.teaser_2_title,
						text:entry.content.teaser_2_text,
						image : entry.content.teaser_2_image,
						link1Url:entry.content.teaser_2_url,
						link1Text:entry.content.teaser_2_cta,
						link2Url:false
					},
					wrapper : {
						modifier : 'alt'
					}
				}
			),

			'collage' | render(
				{
					inheritProps:true,
					render : {
						title : entry.content.collage_title,
						modifier : '4',
						landscape:entry.content.collage_landscape,
						portrait:entry.content.collage_portrait,
						illustration:entry.content.collage_illustration
					},
					wrapper : {
						modifier : 'dark'
					}
				}
			),

			'media' | render(
				{
					inheritProps:true,
					render : {
						image : entry.content.full_width_media_image,
						illustration : entry.content.full_width_media_stamp,
						modifier:'full'
					}
				}
			),

			'imageWithText' | render(
				{
					condition : entry.content.show_teaser_3,
					inheritProps:true,
					render : {
						modifier : 'imageRight',
						preHeading : entry.content.teaser_3_eyebrow,
						heading : entry.content.teaser_3_title,
						text:entry.content.teaser_3_text,
						image : entry.content.teaser_3_image,
						link1Url:entry.content.teaser_3_url,
						link1Text:entry.content.teaser_3_cta,
						link2Url:false
					},
					wrapper : {
						modifier : 'alt'
					}
				}
			)

		] | join('') | safe }}

		{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [
								'mapPanel' | render({
									render : {
										title : 'Find Us',
										locations : locations | map(
											{
												label:'{{ title }}',
												address:'{{ locationAddress | safe }}',
												mapUrl:'{{ locationMapUrl}}',
												email: '{{ locationEmail }}',
												telephone:'{{ locationTelephone }}',
												openingHours : '{{ locationOpening | safe }}',
												latlng:"{{ locationLatLng }}"
											}
										)
									}
								})
							] | join('')
						}
					})
				] | join('')
			}
		}) | safe }}
	

{%  endblock %}