{% extends "src/theme/_layout.njk" %}

{%  block page %}

	{% render 'masthead',{
		inheritProps:true,
		render : {
			title: 'Our Story',
			modifier:'title',
			image:'/assets/img/our-story/01-masthead.jpg'
		},
		wrapper : {
			modifier : 'default'
		}
	} %}
	
	{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [

								'spacer' | render,
								'spacer' | render,

								'headingFrame' | render(
									{
										inheritProps:true,
										render : {
											modifier:'2',
											title:'Our Story'
										}
									}
								),

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:'<h2>Our Roots</h2><p>Considered the godfather of London’s Vietnamese food movement, founder Hieu was born in Hanoi in the north and raised in Saigon in the south. He arrived in London as a student in 1999, and, after struggling to find authentic Vietnamese restaurants in the capital, opened Cay Tre in 2003.</p>'
										}
									}
								),

								'spacer' | render

								

							] | join('')
						}

					})

					

				] | join('')
			}

		}) | safe }}

		{{ [
			
			'media' | render(
				{
					inheritProps:true,
					render : {
						image : '/assets/img/our-story/02-media-image.jpg',
						texture : '/assets/img/our-story/02-media-texture.png',
						illustration : '/assets/img/our-story/02-media-stamp.png',
						modifier:'texture'
					}
				}
			),

			'collage' | render(
				{
					inheritProps:true,
					render : {
						modifier:'3',
						title : "Our Signature Dish",
						text: '<p>Our classic phở has been on the menu since day one. It starts with a deeply-flavoured broth of marrow bones, cinnamon and star anise, slowly simmered for 24 hours. Next, we add fresh ingredients such as flank steak, chicken thigh or king prawns, and serve each bowl with fresh herbs such as saw-tooth coriander and Thai basil. Have yours Hanoi-style by adding a little hoisin, or keep it simple as they do in the north with a splash of Cây Tre’s very own Cậu Vinh chilli sauce — it’s up to you.</p>',
						landscape: '/assets/img/our-story/03-collage-texture.png',
						portrait:'/assets/img/our-story/03-collage-image.jpg',
						illustration:'/assets/img/our-story/03-collage-illustration.png'
					},
					wrapper : {
						modifier : 'alt'
					}
				}
			),

			'collage' | render(
				{
					inheritProps:true,
					render : {
						modifier:'2',
						title : "Our Ingredients",
						text: '<p>We use the finest produce we can get our hands on, from flavourful Hereford sirloin to corn-fed, free-range chicken. Our seasonal British vegetables are supplied by Borough Market’s Paul Wheeler, while fragrant herbs are grown on farms in Vietnam, picked fresh and delivered to our kitchens in as short a time as possible. Vietnamese cooking is all about the careful balancing of flavours, and we allow the exceptional quality of our ingredients to shine through in each and every dish.</p>',
						landscape: false,
						portrait:'/assets/img/our-story/04-collage-image.jpg',
						illustration:'/assets/img/our-story/04-collage-illustration.png'
					},
					wrapper : {
						modifier : 'alt'
					}
				}
			)

		] | join('') | safe }}

		{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [
								
								'spacer' | render,
								'spacer' | render,

								'headingFrame' | render(
									{
										inheritProps:true,
										render : {
											modifier:'2',
											title:'Locations'
										}
									}
								),

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:'<h2>Our restaurants</h2><p>We opened the doors to our flagship restaurant on Old Street in Hoxton, the beating heart of London’s East End, in 2003, and are proud to still be in the same spot over 20 years later. In 2011, we opened Cây Tre on Soho’s bustling Dean Street, just a short walk from the bright lights of the West End and Covent Garden.</p>'
										}
									}
								),

								'spacer' | render,

								'itemGrid' | render(
									{
										inheritProps:true,
										render : {
											modifier:"two-wide",
											itemModifier:"card",
											items : locations | map(
												{
													title : "{{ title }}",
													link : "{{ url }}",
													image : "{{ thumbnail }}"
												}
											)
										}
									}
								),

								'spacer' | render,

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:'<p>Join us for traditional Vietnamese barbecue at Viet Grill, or swing by Keu for authentic Saigon street food — we look forward to welcoming you soon.</p>'
										}
									}
								),

								'nav' | render({
									render : {
										responsive:true,
										modifier:'buttons',
										links : [
											{
												text : 'Book A Table',
												url : '#book'
											},
											{
												text : 'Order Delivery',
												url : '#delivery'
											},
											{
												text : 'Order Takeaway',
												url : '#takeaway'
											}
										]
									}
								})

							] | join('')
						}
					})
				] | join('')
			}
		}) | safe }}
	

{%  endblock %}