{% extends "src/theme/_layout.njk" %}

{%  block page %}

	{% render 'masthead',{
		inheritProps:true,
		render : {
			title: entry.title,
			modifier:'title',
			image:entry.content.masthead_image
		},
		wrapper : {
			modifier : 'default'
		}
	} %}
	
	{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [

								'spacer' | render,
								'spacer' | render,

								'headingFrame' | render(
									{
										inheritProps:true,
										render : {
											modifier:'2',
											title:entry.content.intro_eyebrow
										}
									}
								),

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:entry.content.intro
										}
									}
								),

								'spacer' | render

								

							] | join('')
						}

					})

					

				] | join('')
			}

		}) | safe }}

		{{ [
			
			'media' | render(
				{
					inheritProps:true,
					render : {
						image : entry.content.media_image,
						texture : entry.content.media_texture,
						illustration :entry.content.media_illustration,
						modifier:'texture'
					}
				}
			),

			'collage' | render(
				{
					inheritProps:true,
					render : {
						modifier:'3',
						title : entry.content.collage_1_title,
						text: entry.content.collage_1_text,
						landscape: entry.content.collage_1_landscape,
						portrait:entry.content.collage_1_portrait,
						illustration:entry.content.collage_1_illustration
					},
					wrapper : {
						modifier : entry.content.collage_style
					}
				}
			),

			'collage' | render(
				{
					inheritProps:true,
					render : {
						modifier:'2',
						title : entry.content.collage_2_title,
						text: entry.content.collage_2_text,
						landscape: false,
						portrait:entry.content.collage_2_portrait,
						illustration:entry.content.collage_2_illustration
					},
					wrapper : {
						modifier : entry.content.collage_style
					}
				}
			)

		] | join('') | safe }}

		{{ 'theme' | render({

			render : {
				modifier:'light',
				content : [

					'shadow' | render({

						render : {
							content : [
								
								'spacer' | render,
								'spacer' | render,

								'headingFrame' | render(
									{
										inheritProps:true,
										render : {
											modifier:'2',
											title:'Locations'
										}
									}
								),

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:entry.content.locations_text_1
										}
									}
								),

								'spacer' | render,

								'itemGrid' | render(
									{
										inheritProps:true,
										render : {
											modifier:"two-wide",
											itemModifier:"card",
											items : locations | map(
												{
													title : "{{ title }}",
													link : "{{ url }}",
													image : "{{ thumbnail }}"
												}
											)
										}
									}
								),

								'spacer' | render,

								'content' | render(
									{
										inheritProps:true,
										render : {
											content:entry.content.locations_text_2
										}
									}
								),

								'nav' | render({
									render : {
										responsive:true,
										modifier:'buttons',
										links : [
											{
												text : 'Book A Table',
												url : ifelse(locations | length,{condition:'<',val:2,then:locations[0].bookingLink,else:'#book'}),
												newWindow:ifelse(locations | length,{condition:'<',val:2,then:true,else:false})
											},
											{
												text : 'Order Delivery',
												url : ifelse(locations | length,{condition:'<',val:2,then:locations[0].deliveryUrl,else:'#delivery'}),
												newWindow:ifelse(locations | length,{condition:'<',val:2,then:true,else:false})
											},
											{
												text : 'Order Takeaway',
												url : '#takeaway'
											}
										]
									}
								})

							] | join('')
						}
					})
				] | join('')
			}
		}) | safe }}
	

{%  endblock %}