{% macro render(props) %}

      <div class="p-inset text-light bg-dark">
      <h3 class="u-text-body uppercase pb-gutter">{{ props.title }}</h3>
  <form class="form">
  {% for field in props.fields %}
    {{ field.html | safe }}
  {%  endfor %}
  <div><button type="submit">Send</button></div>
  </form>
  </div>
   
{% endmacro %}