{% macro render(props) %}
<div class="p-inset bg-pale-1 flex flex-col gap-gutter">
    <div class="u-text-intro-quote pb-inset">Things you<br/>can do</div>
    <dl class="definitionList">
        {% for item in props.items %}
        <li>
          <dt class="u-text-ticker">
            <p>{{item.title | safe }}</p>
          </dt>
          <dd class="u-text-description">
            <div class="w-[75%]">{{ item.text | safe }}</div>
          </dd>
        </li>
      {% endfor %}
    </dl>
      
</div>
{% endmacro %}