{% macro render(props) %}
	
    <div class="u-text-body flex flex-col gap-inset text-center leading-tight">

    	<p>{{ props.location.locationAddress | safe }} <a href="{{ props.location.locationMapUrl }}" class="u-link-body">Map</a></p>
    	<p>{{ props.location.locationTelephone }}<br />
    	<a class="u-link-body" href="mailto:{{ props.location.locationEmail }}">{{ props.location.locationEmail }}</a></p>
    	<p>Opening Hours:<br />{{ props.location.locationOpening | safe }}</p>

    	
    
    		
        
    </div>
{% endmacro %}