{% macro render(props) %}
<div class="newsletter">
	<div class="newsletter-body">
	{%  if props.text  %}
		<p>{{ props.text }}</p>
	{% endif %}
	<div class="newsletter-form">
    <form action="https://formspree.io/f/meqbdoll" method="POST">
    	<input type="text" name="email" placeholder="Your Email">
    	<button type="submit">Sign up</button>
    </form>
    </div>
    </div>
</div>
{% endmacro %}