{% macro render(props) %}
    <ul class="taglist u-text-hashtag pb-inset">{% for tag in props.tags %}<li class="inline-block pr-inset"><a class="transition hover:opacity-50" href="{{ tag.url }}">{{ tag.title }}</a></li>{% endfor %}</ul>
{% endmacro %}