{% macro render(props) %}
	<div>
   <style type="text/css">
  	:root{
  	--colors-accent:{{props.location.theme.accent}};
    --colors-relief:{{props.location.theme.relief}};
    --colors-background:{{props.location.theme.background}};
    --colors-foreground:{{props.location.theme.foreground}};
    --colors-frame:{{props.location.theme.frame}};
    --colors-nav:{{props.location.theme.nav}};
    --colors-navtext:{{props.location.theme.navtext}};
  	}
  </style>
  </div>
{% endmacro %}