{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {foo:'bar'} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ['default','hero'] %}

{# Render the component #}
{% macro render(props) %}
<div class="test" x-data="test">[[ TEST ]]</div>
{% endmacro %}