@layer utilities {
    :root {
      --newsletter-bg: var(--theme-palette-dark-bg);
      --newsletter-fg: var(--theme-palette-dark-fg);
    }
}

@layer components {
    .newsletter {
        .newsletter-body {
          @apply flex flex-col gap-gutter;
        }

        .newsletter-text{
            max-width: 25em;
            @apply mx-auto px-gutter u-text-body text-left;
        }

        .newsletter-form {
          max-width: 25em;
          @apply w-full mx-auto relative border-[2px] rounded-full;
          border-color: currentColor;

          background: var(--newsletter-fg);

          input {
            @apply block w-full bg-transparent placeholder-current p-[0.8em] md:p-[0.4em] pl-[1em] md:pl-[1em] pr-[6em];
            color: var(--newsletter-bg);
            outline: none;
          }

          button {
            @apply u-link-button absolute right-0 top-0 h-full;
            line-height: 1;
            
            color: var(--newsletter-fg);
            background: var(--newsletter-bg);
            border-color:var(--newsletter-fg)!important;

            &:hover {
              @apply scale-100;
            }
          }
        }
    }
}
