{% extends "_includes/default.njk" %}
{% import "_includes/macros.njk" as macros %}

{# MODAL #}
{% import "_includes/components/modal-locationSwitcher.njk" as modalLocationSwitcher %}
{% import "_includes/components/modal-bookingTemplate.njk" as modalBookingTemplate %}
{% import "_includes/components/modal-contactTemplate.njk" as modalContactTemplate %}
{% import "_includes/components/modal-takeawayTemplate.njk" as modalTakeawayTemplate %}
{% import "_includes/components/modal-menusTemplate.njk" as modalMenusTemplate %}
{% import "_includes/components/modal-deliveryTemplate.njk" as modalDeliveryTemplate %}
{% import "_includes/components/venueFromhash.njk" as venueFromHash %}
{% import "_includes/components/venueTheme.njk" as venueTheme %}


{# OPTIONAL STYLES #}
{% block styles %}
  <style></style>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{%  block opener %}

{% endblock %}

{# MAIN CONTENT #}
{% block content %}


  <header class="fixed bottom-inset md:bottom-auto left-inset md:top-inset md:left-1/2 md:-translate-x-1/2 px-gutter md:px-inset bg-white  shadow-lg rounded-xl bg-accent text-relief transition duration-[400ms] z-[99]">
    
    <nav >

      <ul class="flex flex-col md:flex-row gap-gutter md:gap-[2em] px-[1em] md:px-0 justify-center py-[8px]">
        <li><a class="inline-block" href="/"><svg class="mt-[4px]" width="16" height="16" viewBox="0 0 127 111" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M63.06 0L0 47.295H15.765V110.355H47.295V78.825H78.825V110.355H110.355V46.8221L126.12 47.295L63.06 0Z" fill="currentColor"/>
</svg>
</a></li>
        {%  for link in linklists.main %}
        <li><a class="inline-block " x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main id="swup" class="transition-fade">
  {% block main %}
       

  {# PAGE CONTENT VARIES #}
        
       
  {% endblock %}
  </main>
  <div class="text-center p-inset">
    <ul class="flex flex-row gap-inset justify-center p-inset">
        {%  for link in linklists.footer %}
        <li><a class="inline-block" x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
     </div>
  <hr />
  <div class="flex flex-col gap-inset py-inset">
    <div class="text-center">
      [[ NEWSLETTER ]]
    </div>
    <div class="text-center">
      [[ SOCIALS ]]
    </div>
  </div>
  <hr />
  <footer>

    <div class="text-center p-inset">
    Visit our sister sites
   
    <ul class="flex flex-row gap-inset justify-center p-inset">
        {%  for site in theme.sisterSites %}
        <li><a href="{{ site.url }}">{{site.title}}</a></li>
        {% endfor %}
      </ul>
     </div>
    <hr />
    <div class="py-[2em] md:p-inset flex flex-col justify-center items-center md:flex-row md:justify-between gap-[3em] md:gap-gutter">
       <ul class="flex flex-row gap-[1em] md:gap-gutter">
        {%  for link in linklists.legal %}
        <li><a class="inline-block" x-data="pageLink" href="{{ link.url }}">{{link.title}}</a></li>
        {% endfor %}
      </ul>

      <div>© 2023 <a href="http://eatdrinkvietnam.co.uk">eatdrinkvietnam.co.uk</a></div>
    </div>
  </footer>


{% endblock %}