---
permalink: /p2/
eleventyExcludeFromCollections: true
---
{% extends "src/theme/_layout.njk" %}
{%  block page %}
	
	{#  Spacer for nav #}
	<div class="h-[8rem]"></div>

	{% render 'nav',{
		render : {
			pageLinks:true,
			modifier:'buttons',
			links : [
				{
					url : '/',
					text: "Home"
				},
				{
					url : '/p2/',
					text: "Page 2"
				}
			]
		},
		wrapper: {
			modifier: 'horizontal'
		}
	} %}

	{% render 'content',{
		render : {
			content : '<h1>Page 2</h1><p>Lorem ipsum</p>'
		}
	} %}

{%  endblock %}