
@layer utilities {
    :root {

    }
}

@layer components {

    .actionBar{
        --theme-button-active-bg:var(--theme-actionBar-button-active-bg);
        --theme-button-active-fg:var(--theme-actionBar-button-active-fg);
    }

    .actionBar-panel,
    .actionBar-actions{
        background:var(--theme-actionBar-bg);
        color:var(--theme-actionBar-fg);
    }

    .actionBar-wrapper.actionBar-wrapper--static {
        @apply w-full h-[50vh] min-h-[500px] relative overflow-hidden;
    }

    .actionBar-wrapper.actionBar-wrapper--fixed {
        @apply fixed bottom-0 left-0 right-0 z-[10];
    }

    .actionBar-wrapper.actionBar-wrapper--mobile {
        @apply fixed bottom-0 left-0 right-0 z-[10] md:hidden;
    }
    
    .actionBar {
        
    }

    .actionBar.actionBar--default {
		
	}

	
}
