{# Anything defined in here will be available at the theme level #}
{% set defaultProps = {
        action:data('site').forms.catering.action,
        cta : 'Submit',
        fields: [
            {
                fields : [
                    {
                        type:'text',
                        name : 'Name',
                        required:true,
                        placeholder:'Name'
                    },
                    {
                        type:'text',
                        name : 'email',
                        required:true,
                        placeholder:'Email address'
                    },
                    {
                        type:'text',
                        name : 'Phone',
                        required:true,
                        placeholder:'Contact Number'
                    }
                    
                ]
            },
            {

                title:'Tell us about your event:',
                fields : [
                    {
                        type:'text',
                        name : 'Event_Date',
                        required:true,
                        placeholder:'Event Date'
                    },
                    {
                        type:'text',
                        name : 'Party_Size',
                        required:true,
                        placeholder:'Party Size'
                    },
                    {
                        type:'text',
                        name : 'Venue_address',
                        required:true,
                        placeholder:'Venue Address'
                    },
                    {
                        type:'textarea',
                        name : 'Special_Requests',
                        placeholder:'Special requests...'
                    }
                ]
            },
            
            {
                title: "How did you find us?",
                fields : [
                    {
                        type:'radio',
                        name:'Found_By',
                        specify:true,
                        options : [
                            {
                                id:'found_google',
                                value:'Google',
                                label:'Google'
                            },
                            {
                                id:'found_recommendation',
                                value:'Recommendation',
                                label:'Recommendation'
                            },
                            {
                                id:'found_been',
                                value:'Been Before',
                                label:'Been to the restaurant'
                            },
                            {
                                id:'found_other',
                                value:'Other',
                                label:'Other'
                            }
                        ]
                        
                    }
                ]
            }
        ]
    } %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default"] %}

{# Render the component #}
{% macro render(props) %}

    <div class="text-center pb-inset">
        <h3 class="u-text-subheading">Catering Booking Form</h3>
        <p>* indicates required fields</p>
    </div>

{%  render 'form',{
	render:props
} %}
{% endmacro %}


