{# Anything defined in here will be available at the theme level #}

{#  fit: natural | cover | contain #}

{% set defaultProps = {
	fit:'cover',
	src:'/assets/img/placeholder.jpg',
	alt : ['Image from ',data('site').url | replace('https://',''),', ',data('site').description] | join
} %}

{# Anything defined in here will be available at the theme level #}
{% set modifiers = ["default","transparent"] %}



{# Render the component #}
{% macro render(props) %}
{% set alt = defaultProps.alt  %}
{%  if props.alt %}{% set alt = props.alt  %}{%  endif %}
<div class="image {% if props.modifier %}image--{{ props.modifier }}{% endif %}" data-alt="{{ alt }}" x-data="image" x-bind="lazy" data-fit="{{ props.fit }}" data-src="{{ props.src }}">
	
	<noscript>
		<img loading="lazy" alt="{{ alt }}" src="{{ props.src }}" class="block w-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-full object-cover" />
	</noscript>

</div>
{% endmacro %}


