/* TAILWIND */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* VARIABLES */
@import './variables.css';

/* FONTS */
/*@import '../assets/fonts/GT-Maru/stylesheet.css';*/

/* UTILS */
@import './utils/u-layout.css';
@import './utils/u-text.css';
@import './utils/u-anim.css';
@import './utils/u-link.css';

/* COMPONENTS */
/*@import './components/ticker.css';
@import './components/image.css';
@import './components/imageWithText.css';
@import './components/form.css';
@import './components/carousel.css';*/

@import '../src/theme/inc/components.css';

@layer base {
  html {
    @apply u-text-body;
    --initialViewportHeight: 100vh;
    scroll-behavior: initial;

    & * {
      font-smooth: always;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  html,
  body {
    /* Remove overscroll behaviour */
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
  }

  

  /* THEME FRAME */
  body {
    
    
    min-height: 100vh;


    /*
    
    transition: color 1s ease, border 1s ease;
    border: var(--sizes-frame) solid var(--colors-frame);

    */
  }

  body {
    opacity: 1;
  }

  html.js-ready {
    & body {
      /*animation: fadeIn 1.5s ease forwards;*/
    }
  }

  html.scrolled {
    @media screen(md) {
      header {
        /*opacity: 0;
        transform: translate(-50%, -50%);*/
      }
    }
  }

  main {
    /*@apply bg-background text-foreground;*/
  }

  /* Remove tap highlight */
  * {
    -webkit-tap-highlight-color: transparent; /* For older versions of WebKit browsers */
    tap-highlight-color: transparent;
  }

  /* SWUP JS */
  html.is-changing .transition-fade {
    transition: opacity 0.2s ease;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }
  /*
    * The animation when animating sub-pages / fragments
  */

  .swup-fragment {
    transition: opacity 0.3s ease;

    &.is-leaving,
    &.is-changing {
      opacity: 0;
    }
  }

  [x-data='pageLink'] {
  }
  [x-data='pageLink'].active {
    /*text-decoration: underline;*/
  }

  [x-data='pageLink'].inactive {
  }

  /* SENSIBLE RICH TEXT RULES */
  p,
  blockquote {
    max-width: 32em;
  }

  .text-center p,
  .text-center ul,
  .text-center blockquote {
    @apply mx-auto;
    max-width: 32em;
  }

  .h-initial {
    height: var(--initialViewportHeight);
  }

  .inset {
  }
  

  /* LENIS DEFAULTS */
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  

  .footer-texture {
    @apply relative text-sand;
    background: center center no-repeat;
    background-image: var(--footer-texture);
    background-color: var(--colors-grey);
    background-size: cover;
    z-index: 1;

    &:after {
      content: '';
      @apply hidden w-full h-full absolute top-0 left-0 bg-[black] block opacity-[0.1];
    }

    & > * {
      z-index: 2;
    }
  }

  #nav {
    svg {
      @apply w-full;
    }

    nav {
      @media screen(md) {
        width: 50%;
      }
    }
  }

  .wrapper {
    @apply relative w-full md:w-[90%] max-w-[1170px] mx-auto;
  }
}

@layer utilities {
  .absolute-center-x {
    right: 50%;
    transform: translateX(50%);
  }

  .absolute-center-y {
    bottom: 50%;
    transform: translateY(50%);
  }

  .absolute-center-xy {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}
