@layer utilities {
	/* COLORS */
	:root {
		--colors-light: #ffffff;
		--colors-dark: #222;
		--colors-black: #000;
		--colors-grey: #4b4242;
		--colors-burgundy: #5c0916;
		--colors-sand: #f0d8ab;
		--colors-accent: #5c0916;
		--colors-relief: #ffffff;
		--colors-background: #ffffff;
		--colors-foreground: #000000;
		--colors-frame: #f0d8ab;
		--colors-nav: #f0d8ab;
		--colors-navtext: #4b4242;
	}
	/* TYPE */
	:root {
		--font-base-size: 16px;

		@media screen(md) {
			--font-base-size: 16px;
		}
	}
	/* SPACING */
	:root {
		--spacing-gutter: 8px;
		--spacing-inset: 16px;

		@media screen(md) {
			--spacing-gutter: 16px;
			--spacing-inset: 32px;
		}
	}
}
