
@layer utilities {
    :root {
    }
}

@layer components {

    
    .newsletterPanel {

        @apply footer-texture aspect-[4/1] flex items-center;
        @apply relative text-sand;

        background: center center no-repeat;
        background-image: var(--theme-footer-texture);
        background-color: var(--theme-footer-bg);
        background-size: cover;
        z-index: 1;

        &:after {
          content: '';
          @apply hidden w-full h-full absolute top-0 left-0 bg-[black] block opacity-[0.1];
        }

        & > * {
          z-index: 2;
        }
  
    }

    .newsletterPanel.newsletterPanel--default {
		
	}

	
}
