---
eleventyExcludeFromCollections: true
---
{%  if entry %}
{% set entryTemplate = entry | templateHandle %}
{% set template = ["src/theme/templates/",entryTemplate,".njk"] | join %}
{% extends template %} 
{%  endif %} 