{% extends "src/theme/inc/wrapper.njk" %}
{%  block output %}
<!DOCTYPE html>
{%  set siteLang = 'en' %}
{% if entry %}
	{%  if entry.meta and entry.meta.lang %}{%  set siteLang = entry.meta.lang %}{% endif %}
{% endif %}
<html lang="{{ siteLang }}">
<meta charset="UTF-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

<link rel="stylesheet" href="/style.css?v={% version %}"/>

{%  if site.icon %}
<link rel="icon" type="image/png" href="{{ site.icon }}" />
{%  endif %}

{%  block head %}
	{# Add items to <head> from inside src/theme/_layout #}
{% endblock %}

{%  set siteTitle = site.title %}
{%  set siteDescription = site.description %}

{% if entry %}
	{%  set siteTitle = [entry.title,' | ',site.title] | join %}
	{%  if entry.meta and entry.meta.title %}{%  set siteTitle = entry.meta.title %}{% endif %}
	{%  if entry.meta and entry.meta.description %}{%  set siteDescription = entry.meta.description %}{% endif %}
{% endif %}

<title>{{siteTitle}}</title>
<meta name="description" content="{{siteDescription}}"/>

<body x-data="page">
	
	{# Create a root theme #}
	{% render 'theme',{
		inheritProps:true,
		render : {
			root:true,
			content : ''
		}
	} %}

	{%  block header %}
		{# Add items for before SWUP page from inside src/theme/_layout #}
	{% endblock %}

	<div id="page">
		<div class="page-body">
			<div id="opener" class="transition-fade"></div>
			<div id="swup" class="transition-fade">
		  		<main>
				{%  block page %}

				{%  endblock %}
				</main>
			</div>
		</div>
	</div>

	{%  block footer %}
		{# Add items for after SWUP page from inside src/theme/_layout #}
	{% endblock %}

	{%  block scripts %}
		{# Add items for </body> from inside src/theme/_layout #}
	{% endblock %}

</body>
<script type="text/javascript" src="/js/main.js"></script>
</html>
{%  endblock %}